{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "settings" %}
{% set section =  _('Assign Users to Project')%}
{% from "_formhelpers.html" import render_field, render_checkbox_field %}

{% block projectcontent %}
<p>{{_('Select users from the list')}}</p>
<form id="assign_users" method="post" action="{{ url_for('project.assign_users', short_name=project.short_name) }}">
    {{ form.hidden_tag() }}
    <fieldset>
        <div class="multi-container">
            <select multiple="multiple" name="select_users" id="selected_users">
                {% for user in all_users|sort(attribute='last_name') if user.enabled %}
                    <option value="{{ user.id }}" data-email="{{ user.email_addr }}" {{ 'selected' if user.id in project_users else '' }}>{{ user.fullname }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-actions">
            <input type="submit" value={{_('Assign')}} class="btn btn-primary" />
        </div>
    <fieldset>
</form>
<!-- Le javascript -->
{% if not jstop %}
{% assets "js_multi" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
<script>
    var select = document.getElementById('selected_users');
    multi( select, {
        'non_selected_header': 'All Users',
        'selected_header': 'Selected Users'
    });
</script>

<script>
    const setupTooltips = () => {
        // Set a tooltip as the email address for each multiselect option.
        $('#selected_users option').each(function() {
            const userId = $(this).val();
            const userEmail = $(this).data('email');

            // Find the corresponding "a" link element by data-value attribute
            const $linkElement = $('.item[data-value="' + userId + '"]');

            // Add a title attribute to the "a" link element using the user's email
            $linkElement.attr('title', userEmail);

            $linkElement.click(function() {
                // Initialize tooltips after selecting an option, after the menu is rebuilt.
                setTimeout(() => {
                    setupTooltips();
                }, 0);
            });
       });
    }

    $(document).ready(function() {
        $('select').multi({
            search_placeholder: 'Search Users...'
        });

        setupTooltips();

        $('#assign_users .search-input').keyup(function() {
             // Initialize tooltips after entering a search term, after the menu is rebuilt.
             setTimeout(() => {
                 setupTooltips();
             }, 0);
        });

        $('#assign_users .search-input').on('paste', function() {
             // Initialize tooltips after entering a search term, after the menu is rebuilt.
             setTimeout(() => {
                 setupTooltips();
             }, 0);
        });
    });
</script>
<!-- Le styles -->
{% assets "css_multi" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<style>
    .multi-container {
        width: 70%;
        margin-bottom: 25px;
    }
    .multi-wrapper .selected-wrapper {
        border-left: 20px solid #fafafa;
    }
    .multi-wrapper .header {
        background: #ccc;
    }
</style>
{% endblock %}
