<div id="task-app">
  <task-presenter>
    <!--Add all your components inside <task-presenter> tag-->
  </task-presenter>
</div>
<!--Please don't remove these libraries-->

<link href="https://s3.amazonaws.com/cf-s3uploads/pybv/0.11.15/app.css" rel="stylesheet">
<script type="text/javascript" src="//s3.amazonaws.com/cf-s3uploads/pybv/0.11.15/app.js"></script>

<script type="text/javascript">
      // Your JavaScript code
      pybossa.beforePresent(function(task){
        // Add custom user interface manipulation for the current task
        return task;
      });

      pybossa.beforeSubmit(function(answer, task){
        /* This function can be used to validate
        answers or transform the answer before submission. */
        return answer;
      });
</script>
